.search-wrap{
    background: #f5f5f5;
    height: 100%;
    overflow-y:scroll;
    header{
        height: .515rem;
        background:  #e54847;
        color: #fff;
        font-size: .18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-wrap-left{
            height: .505rem;
            line-height: .505rem;
            padding:0 .15rem;
            position: absolute;
            left: 0;
            top:0;
            a{
                font-size: .4rem;
                color: #fff;
            }
        }
        h1{
            flex: 1;
            font-weight: normal;
            text-align: center;
        }
    }
    .search-header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .08rem 0 .1rem .08rem;
        @include border(0 0 1px 0,#e5e5e5);
        .input-wrapper{
            padding: 0 .1rem;
            @include border(1px, #e6e6e6);
            border-radius: .05rem;
            background-color: #fff;;
            flex-grow: 1;
            input{
                color: #333;
                font-size: .13rem;
                line-height: .2rem;
                padding: .04rem 0;
                border:none;
                width: calc(100% - 50px);
            }
            img{
                width: .15rem;
                height: .15rem;   
                margin-right: .06rem; 
                float: left;
                position: relative;
                top:.06rem;
            }
            img.del-input{
                float: right;
            }
        }
        .cancel{
            height: .3rem;
            line-height: .3rem;
            color: #f03d37;
            font-size: .16rem;
            padding: 0 .1rem;
        }
    }
}
.search-result{
    .result-wrapper{
        .result{
            margin-bottom: .1rem;
            background: #fff;
            h3{
                padding: .09rem .15rem;
                font-size: .15rem;
                color: #999;
                font-weight: normal;
            }
            .list{
                padding-left: .15rem;
                @include border(1px 0, #e6e6e6);
                .movie.cell{
                    padding: .12rem 0;
                    min-height: .9rem;
                    overflow: hidden;
                    @include border(0 0 1px 0,#e6e6e6);
                    .info{
                        margin-right:.15rem;
                        margin-top:.01rem;
                    }
                    .poster{
                        width: 0.64rem;
                        height: 0.9rem;
                        margin-right: .1rem;
                        float: left;
                    }
                    .name-score{
                        font-size: .16rem;
                        color: #222;
                        margin-bottom: .02rem;
                        display: flex;
                        .name{
                            flex-grow: 1;
                            @include ellipsis();
                            .one-line{
                                font-size: .17rem;
                                font-weight: 700;
                            }
                        }
                        .wish{
                            color: #fa0;
                            font-size:.1rem;
                            padding-left: .05rem;
                            @include ellipsis();
                            .num{
                                font-size: .16rem;
                            }
                        }
                    }
                    .detail-section{
                        display:flex;
                        .detail-items{
                            flex-grow: 1;
                            padding-right: .1rem;
                            .ename,.catogary,.release{
                                font-size: .13rem;
                                color: #666;
                                margin-top: .02rem;
                                @include ellipsis();
                            }
                            
                        }
                    }
                    .toggle-wish-btn{
                        background-color: #faaf00;
                        border: none;
                        color: #fff;
                        text-align: center;
                        width: .48rem;
                        height: .27rem;
                        line-height: .27rem;
                        border-radius: .04rem;
                        margin:.07rem 0;
                    }
                }
            }
            .more-result{
                font-size: .15rem;
                color: #ef4238;
                line-height: .44rem;
                height: .44rem;
                text-align: center;
            }
        }
        .cinema-cell{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .15rem .15rem .15rem 0;
            .info{
                flex-grow: 1;
                @include ellipsis();
                p{
                    line-height: 1.3;
                }
                .name-price{
                    font-size: .16rem;
                    color: #000;
                    margin-bottom: .06rem;
                    display: flex;
                    .sell-price{
                        font-size: .11rem;
                        color: #999;
                        margin-left: .1rem;
                        @include ellipsis();
                        .price{
                            font-size: .17rem;
                            color: #ef4238;
                        }
                    }
                }
                .address{
                    font-size: .13rem;
                    color: #999;
                    @include ellipsis();
                }
                .feature-tags{
                    margin-top:.07rem;
                    @include ellipsis();
                    span{
                        border: 1px solid #589daf;
                        color: #589daf;
                        position: relative;
                        display: inline-block;
                        padding: 0 .03rem;
                        height: .15rem;
                        line-height: .15rem;
                        border-radius: .02rem;
                        font-size: .06rem;
                    }
                    span.featrue {
                        color: #f90;
                        border-color: #f90;
                    }
                }
            }
            .distance{
                font-size: .13rem;
                color: #999;
            }
        }
    }
    
}
.search-history{
    background: #ffff;
    .history-item{
        margin-left: .15rem;
        line-height: .44rem;
        height:.44rem;
        @include border(0 0 1px 0, #e5e5e5);
        display: flex;
        justify-content: center;
        align-items: center;
        @include border(0 0 1px 0,#e5e5e5);
        .history-icon{
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAMAAACfWMssAAAAVFBMVEUAAACrq6u2traqqqqrq6utra2vr6+qqqqqqqqrq6urq6urq6urq6usrKyqqqqrq6urq6urq6urq6urq6uqqqqsrKyrq6uqqqqvr6+qqqqrq6uqqqqL2Pn/AAAAG3RSTlMA7gf3nBcL5NSxqHFJNN/IwoWDeWNQTyQgNumZiWHTAAABnklEQVRIx5SS2xKDIAxEIwJVQGu91vb//7PdyEynigL74DjiSZZNKKjVyq4tyrJoO2kbSpOYTfH+U2FmEccGT+3YIYKOt/eJbuMF5ir/V1lbtygh1OJsXfqPlTvjHt6WnDTRT3qS3v4jiOl6a9brwFm/ta0DZ8/NplQUlJKb3eeBe3ECFzNrOLfXjtTc767oQurOPf/d8v2MiMzY8D0PeRqKyuyydexTxEHBbn/zrJCLogQpJFSR14gyDSWpwb+j748qkhIl4U4QNGBfDkZROWgWOzRwQyxiT6kg9VhntJzxotNBjUazn42kdJCknzkKTDngBItEK6LROaBGPCtZXr8ckBfbsmObB1pOpcPy5YFY7Y7a73PJA5fvUcuhqjxQcayISOSBAoP4dF4GJwDDQAzrAh2g+y/ap0BwGKR/IOR8tnMfFD54X1X4qvfjCD/OPQ7hcSCAgQWA5AaWHCIfSOQvazXQWrHIGy8y1rHBOjCric0Ke9xgj9mQawTU0MkxV4O1RnkuD7mu9ILUK1kvgb129qLbq3Uv8/v78D0AP8WcS0GTLxhaAAAAAElFTkSuQmCC) no-repeat;
            width: 0.15rem;
            height: 0.15rem;
            background-size:contain;
            margin-right: .1rem;
        }
        .word-one-line{
            color: #333;
            font-size: .15rem;
            flex: 1;
        }
        .del-word{
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAASFJREFUKBV9kj2OwjAQhWPTkwppL0ADXZIGutVKHICODglWVLtUXIIOuIBvshfIj4SUKhdAossBEt7LMsFEmJGcmWTeZ09mrOI4PiqlRliLIAiu3huD9hfpNbRzTaiu66+qqv7SNB24uCRJdsgdoB/D+wQXCHKssQsmhM330FbQrcIwTBQCjycRIoyVa60/pewXkIHGa0AGr2CcsuycZKiltSBfbBhlXQB9WOUZasSeQH4kDOB8h+DqbRRFJwHEawnEQ8jyeBIhbrzhZpIX/wTajQC0hcjZ7Ra0IQArlsfuuuDmH7sQ5mQANGY3DB/aUSkkfjBDXjsZrvlHHs8u7Pv+VAP6fgcR52Wwyy7LcuJlWTZEqeFjf3dUFEUfF32GxvVumtjRa2eCUPQAAAAASUVORK5CYII=) no-repeat;
            background-size: .1rem;
            background-position: .15rem;
            padding: .17rem .15rem;
            box-sizing: content-box;
            width: .10rem;
            height: .10rem;
            align-self: center;
        }
    }
}